@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
}

@layer utilities {
  .glass {
    @apply bg-slate-900/50 backdrop-blur-md border border-white/10;
  }
}

body {
  @apply bg-slate-950 text-slate-50 antialiased overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}